@model DemoVueJS.Models.CourseModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add New Course</h2>

<section>

    <label asp-for="name"></label>
    <input asp-for="name" /><br />
    <br />
    <label asp-for="startdate"></label>
    <input asp-for="startdate" /><br />
    <br />
    <label asp-for="duration"></label>
    <input asp-for="duration" /><br />




</section>
