@model IEnumerable<CourseModel>


<div id="app">
    {{message | capitalize}}

    <div class="col-md-12">
        @*<table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Start date</td>
                    <td>Duration</td>
                    <td>Teacher</td>
                    <td>Number of students</td>
                    <td></td>
                </tr>
            <tbody>*@

        @*<tr v-for="course in sortedCourses" v-bind:key="course.Id">
                <course-details>

                    v-bind:course="course"
                    v-bind:courses="sortedCourses"

                </course-details>
                @*<td><a v-bind:href="course.Name">{{course.Name}}</a></td>
                <td>{{course.Date}}</td>
                <td>{{course.Duration}}</td>
                <td>{{course.Teacher}}</td>
                <td>{{course.NumberOfStudents}}</td>
                <td><button v-on:click="addStudent(course.Id)">RSVP</button></td>
            </tr>*@


        @*</tbody>
            </table>*@

        <div v-for="course in sortedCourses" v-bind:key="course.Id">
            <course-details v-bind:course="course"
                            v-bind:courses="sortedCourses">
            </course-details>
            <hr/>
        </div>
        

        <div class="duration" v-bind:class="{ 'red' : Courses.length >= 1 }">
            {{message}}
        </div>

        <div v-if="totalNumberOfStudents < 2">Oops: we don't have enough students</div>
        <div v-else-if="totalNumberOfStudents > 5">
            Yes: enough students registered!
        </div>

        <button v-on:click="getCourses()">Get courses from server</button>

        <router-link to="/new">Add new course</router-link>

        <router-view></router-view>

        @*<a asp-controller="Home"
            asp-action="AddCourse">Add Course</a>*@
    </div>
</div>

