@model IEnumerable<CourseModel>


<div id="app">
    {{message | capitalize}}

    <div v-for="course in Courses" v-bind:key="course.Id">

        <hr />
        <course-details v-bind:course="course"
                        v-bind:courses="Courses">
        </course-details>


    </div>
    <hr />
    <div v-if="totalNumberOfStudents < 2">Oops: we don't have enough students</div>
    <div v-else-if="totalNumberOfStudents > 5">
        Yes: enough students registered!
    </div>

    <hr />
    <div v-bind:class="{ 'red' : Courses.length >= 1 }">
        {{message}}
    </div>

    <hr />
    <router-link to="/new">Add new course</router-link>

    <router-view></router-view>    
    
    <button v-on:click="getCourses()">Get courses from server</button>
</div>