@model IEnumerable<CourseModel>


<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Start date</td>
                <td>Duration</td>
                <td>Teacher</td>
            </tr>
            <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.name</td>
                    <td>@($"{course.startdate:d}")</td>
                    <td>@course.duration</td>
                    <td>@course.teacher</td>

                </tr>
            }
            </tbody>
        </table>
        
        <a asp-controller="Home"
           asp-action="AddCourse">Add Course</a>
    </div>
</div>
